<div class="container">
    <div class="p-col-12 p-lg-12 p-fluid">
        <div class="card" *ngFor="let evt of eventos">
            <p-card class="card">
                <div class="p-grid">
                    <div class="p-col-12 p-lg-4 p-fluid">
                        <div class="p-d-flex p-jc-center">
                            <img [src]="evt.imagem_perfil" style="max-width: 100%; max-height: 350px;">
                        </div>
                    </div>
                    <div class="p-col-12 p-lg-8 p-fluid">
                        <div class="top"></div>
                        <h1 style="margin-bottom: -10px;">{{evt.nome}}</h1>
                        <h3 style="font-weight: bold; margin-bottom: -10px;">{{evt.data | date:'dd/MM/yyyy'}}</h3>
                        <h3 style="font-weight: bold;">{{evt.resumo}}</h3>
                        {{evt.descricao}}
                    </div>
                    <div>
                        <button class="button" pButton label="Ver Detalhes" (click)="detalhes(evt)"></button>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
    <div class="fab" *ngIf="appGlobals.logado">
        <button mat-fab class="main" id="fab" (click)="novoEvento()">
            <i class="pi pi-plus"></i>
        </button>
    </div>
</div>


<p-dialog *ngIf="evento" [(visible)]="showDetEvento" [style]="{width: '90vw'}" [modal]="true">
    <div class="p-col-12 p-fluid">
        <h2>{{evento.nome}}</h2>
    </div>
    <div class="p-grid">
        <div class="p-col-12">
            <p-panel header="Fotos do Evento" *ngIf="evento.fotosEvento.length > 1">
                <p-carousel [value]="evento.fotosEvento" [numVisible]="1" [numScroll]="1">
                    <ng-template let-fotoEvento pTemplate="item">
                        <div class="p-d-flex p-jc-center">
                            <img [src]="fotoEvento.foto" style="max-height: 25vw" />
                        </div>
                    </ng-template>
                </p-carousel>
                <div class="p-col-12 p-lg-4 p-fluid" *ngIf="evento.resumo">
                    <label>{{evento.resumo}}</label>
                </div>
            </p-panel>
            <p-panel header="Redes Sociais">
                <div class="p-col-12 p-lg-4 p-fluid" *ngIf="evento.instagram">
                    <label>Instagram: <a [href]="'https://www.instagram.com/'+ evento.instagram"
                            target="_blank">{{evento.instagram}}</a></label>
                </div>
                <div class="p-col-12 p-lg-4 p-fluid" *ngIf="evento.facebook">
                    <label>Facebook: <a [href]="'https://www.facebook.com/'+ evento.facebook"
                            target="_blank">{{evento.facebook}}</a></label>
                </div>
                <div class="p-col-12 p-lg-4 p-fluid" *ngIf="evento.site">
                    <label>Site: <a [href]="evento.site" target="_blank">{{evento.site}}</a></label>
                </div>
            </p-panel>
            <p-panel header="Local e Horário">
                <div class="p-col-12 p-lg-6 p-fluid" *ngIf="evento.espaco">
                    <label>Local: {{evento.espaco.nome}}</label>
                </div>
                <div class="p-col-12 p-lg-6 p-fluid" *ngIf="evento.data">
                    <label>Data: {{evento.data | date:'dd/MM/yyyy'}}</label>

                </div>
                <div class="p-col-6 p-lg-3 p-fluid" *ngIf="evento.hora_ini">
                    <label>Horário Inicial: {{evento.hora_ini}}</label>
                </div>
                <div class="p-col-6 p-lg-3 p-fluid" *ngIf="evento.hora_fim">
                    <label>Horário Final: {{evento.hora_fim}}</label>
                </div>
            </p-panel>
            <p-panel header="Artista(s)" *ngIf="evento.artistas">
                <div class="card" *ngFor="let art of evento.artistas">
                    <p-card class="card">
                        <div class="p-grid">
                            <div class="p-col-12 p-lg-3 p-fluid">
                                <p-avatar 
                                    icon="pi pi-user"
                                    shape="circle"
                                    [image]="art.perfil"
                                    size="xlarge">
                                </p-avatar>
                                {{art.nome_social}}
                            </div>
                        </div>
                    </p-card>
                </div>
            </p-panel>
            <p-panel header="Informações Gerais">
                <div class="p-col-6 p-lg-3 p-fluid" *ngIf="evento.classificacao">
                    <label>Classificação: {{evento.classificacao}}</label>
                </div>
                <div class="p-col-6 p-lg-3 p-fluid" *ngIf="evento.descricao">
                    <label>Descrição: {{evento.descricao}}</label>
                </div>
            </p-panel>
        </div>
    </div>

</p-dialog>