<div class="container">
    <div class="p-col-12 p-lg-12 p-fluid">
        <div class="card" *ngFor="let evt of eventos">
            <p-card class="card">
                <div class="p-grid">
                    <div class="p-col-12 p-lg-4 p-fluid">
                        <div class="p-d-flex p-jc-center">
                            <img [src]="evt.imagem_perfil" style="max-width: 100%; max-height: 350px;">
                        </div>
                    </div>
                    <div class="p-col-12 p-lg-8 p-fluid">
                        <div class="top"></div>
                        <h1 style="margin-bottom: -10px;">{{evt.nome}}</h1>
                        <h3 style="font-weight: bold; margin-bottom: -10px;">{{evt.data | date:'dd/MM/yyyy'}}</h3>
                        <h3 style="font-weight: bold;">{{evt.resumo}}</h3>
                        {{evt.descricao}}
                    </div>
                    <div>
                        <button class="button" pButton label="Ver Detalhes" (click)="detalhes(evt)"></button>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
    <div class="fab" *ngIf="appGlobals.logado">
        <button mat-fab class="main" id="fab" (click)="novoEvento()">
            <i class="pi pi-plus"></i>
        </button>
    </div>
</div>


<p-dialog *ngIf="evento" [(visible)]="showDetEvento" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
    [style]="{width: '80vw'}">
    <div class="p-grid">
        <div class="p-col-12 p-fluid">
            <h2>{{evento.nome}}</h2>
        </div>
        <div class="p-col-12">
            <p-panel header="Redes Sociais">
                <div class="p-col-12 p-lg-4 p-fluid">
                    <label>Instagram: {{evento.instagram}}</label>
                </div>
                <div class="p-col-12 p-lg-4 p-fluid">
                    <label>Facebook: {{evento.facebook}}</label>
                </div>
                <div class="p-col-12 p-lg-4 p-fluid">
                    <label>Site: {{evento.site}}</label>
                </div>
            </p-panel>
            <p-panel header="Local e Horário">

                <div class="p-col-12 p-lg-6 p-fluid">
                    <label>Local: {{evento.espaco}}</label>
                </div>
                <div class="p-col-12 p-lg-6 p-fluid">
                    <label>Data: {{evento.data}}</label>

                </div>
                <div class="p-col-6 p-lg-3 p-fluid">
                    <label>Horário Inicial: {{evento.hora_ini}}</label>
                </div>
                <div class="p-col-6 p-lg-3 p-fluid">
                    <label>Horário Final: {{evento.hora_fim}}</label>
                </div>
            </p-panel>
        </div>
    </div>

</p-dialog>