.top {
  height: 8pt;
  width: 50pt;
  margin-bottom: -10pt;
  background-color: #289ea0;
}

@media screen and (max-width: 991px) {
  .home {
    width: 100%;
    display: block;
  }
}
.center {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #c0bbb7;
  text-decoration: none;
  animation-delay: 5s;
}

.color{
  padding: 2%;
  background-color: #289ea0;
  color: #fff;
  margin-bottom: 20pt;
}
.top2 {
  height: 8pt;
  width: 50pt;
  margin-bottom: -10pt;
  margin-top: 10pt;
  background-color: #fff;
}

.rodape{
  margin-top: 1.5rem;
  background: #3E4042 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #fff;
}