<div class="content-section implementation container">
    <div class="card">
        <p-menubar [model]="items">
            <ng-template pTemplate="start">
                <img src="./assets/imgs/logo.png" height="40" class="p-mr-2 mic">
            </ng-template>
            <ng-template pTemplate="end">
                <span class="p-input-icon-right">
                    <i class="pi pi-search" style="padding: 2pt;"></i>
                    <input type="text" color="write" pInputText style="margin-right: 5pt;">
                </span>
                <button pButton type="button" class="p-button-outlined p-button-rounded p-button-secondary"
                    icon="pi pi-user">
                </button>
            </ng-template>
        </p-menubar>
    </div>
</div>
<!--
<p-menubar [model]="items">
    <img pTemplate="start" src="./assets/imgs/logo.png" height="40" class="p-mr-2">
    <input slot="end" type="text" pInputText placeholder="Search">
    <button pButton label="Logout" icon="pi pi-power-off"></button>
</p-menubar>-->
