<div class="container">
    <div class="p-grid">
        <div class="p-col-12 p-lg-12 p-fluid">
            <p-card *ngFor="let epc of espacos" class="card">
                <div class="top"></div>
                <div class="p-grid">
                    <div class="p-col-12 p-lg-5 p-fluid">
                        <h2>{{epc.nome}}</h2>
                        <h3>{{epc.tipo}}</h3>
                        <i class="pi pi-map-marker"> {{epc.endereco.logradouro}}, {{epc.endereco.numero}} -
                            {{epc.endereco.bairro}} - {{epc.endereco.localidade}}, {{epc.endereco.uf}}</i>
                        <p>{{epc.descricao}}</p>
                    </div>
                    <div class="p-col-12 p-lg-7 p-fluid">
                        <!-- <img alt="Card" [src]="epc.imgs.img1" style="max-height: 200pt;"> -->
                        <p-galleria [(value)]="epc.images" [responsiveOptions]="responsiveOptions" [numVisible]="5">
                            <ng-template pTemplate="item" let-item>
                                <img [src]="item.previewImageSrc" style="max-height: 250pt; display: block;" />
                            </ng-template>
                            <ng-template pTemplate="thumbnail" let-item>
                                <div class="p-grid p-nogutter">
                                    <img [src]="item.thumbnailImageSrc"
                                        style="max-height: 100pt; display: block; padding: 0, 5pt;" />
                                </div>
                            </ng-template>
                        </p-galleria>
                    </div>
                    <div>
                        <button class="button" pButton label="Entre em contato"></button>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
</div>