<div class="container">
    <h1>Minha Conta</h1>
    <div class="p-grid">
        <div class="p-col-12 p-lg-3">
            <h2>{{bemVindo}}</h2>
            <div class="p-grid">
                <div class="p-col-10 p-lg-10 p-fluid">
                    <h3>Dados da Conta</h3>
                </div>
                <div class="p-col-2 p-lg-2" style="margin-top: 0.5rem;">
                    <button pButton pRipple type="button" [icon]="disabledConta ? 'pi pi-user-edit' : 'pi pi-save'"
                        class="p-button-rounded p-button-text" (click)="changeConta()" style="color: #289ea0;"></button>
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col-12 p-fluid">
                    <label>Nome fantasia ou como prefere ser chamado</label>
                    <input pInputText type="text" class="ng-required ng-dirty" name="user_soc_nome"
                        [(ngModel)]="user.nome_social" #nick="ngModel" [disabled]="disabledConta" required
                        minlength="5" />
                </div>
                <div class="p-col-12 p-fluid">
                    <label>E-mail</label>
                    <input pInputText type="text" name="user_email" [(ngModel)]="user.email" #email="ngModel"
                        [disabled]="disabledConta" required email />
                    <small id="username-help" class="p-error" *ngIf="email.hasError('email')">
                        Informe um e-mail válido!</small>
                </div>
                <div class="p-col-12 p-fluid">
                    <label>Senha</label>
                    <input pInputText type="password" name="user_password" [(ngModel)]="user.password"
                        [disabled]="disabledConta" #senha="ngModel" required />
                    <small id="username-help" class="p-error" *ngIf="senha.hasError('required') && senha.dirty">
                        *Campo obrigatório</small>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-lg-9">
            <div>
                <p-tabView class="painelHeader" (onChange)="controlaTabs($event)">
                    <p-tabPanel header="Dados de Usuário">
                        <div class="p-grid">
                            <div class="p-col-11 p-lg-11 p-fluid">
                                <h3>Dados de Usuário</h3>
                            </div>
                            <div class="p-col-1 p-lg-1" style="margin-top: 0.5rem;">
                                <button pButton pRipple type="button"
                                    [icon]="disabledConta ? 'pi pi-user-edit' : 'pi pi-save'"
                                    class="p-button-rounded p-button-text" (click)="changeConta()"
                                    style="color: #289ea0;"></button>
                            </div>
                        </div>
                        <form #formEspacoCad="ngForm" autocomplete="off">
                            <div class="form">
                                <div class="cad">
                                    <div class="p-grid">
                                        <div class="p-col-12 p-lg-12 p-fluid">
                                            <div class="p-field">
                                                <label>Nome Completo ou Razão Social</label>
                                                <input pInputText type="text" name="user_nome_civ"
                                                    [(ngModel)]="user.nome" #user_nome_civ="ngModel"
                                                    class="ng-required ng-dirty" required minlength="7" />
                                                <small class="p-error"
                                                    *ngIf="user_nome_civ.hasError('required') && user_nome_civ.dirty">
                                                    *Campo obrigatório</small>
                                                <small class="p-error" *ngIf="user_nome_civ.hasError('minlength')">
                                                    Informe o nome Completo!</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-grid">
                                        <div class="p-col-6 p-lg-2 p-fluid">
                                            <div class="p-field" style="margin-top: 15pt;">
                                                <p-checkbox name="estrangeiro" [(ngModel)]="user.estrangeiro"
                                                    [binary]="true" label="Estrangeiro" (onChange)="mudarObr()">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                        <div class="p-col-6 p-lg-2 p-fluid">
                                            <div class="p-field">
                                                <label id="labelRadio">Tipo de Pessoa</label><br>
                                                <p-radioButton class="radio" name="groupname" label="Física" value="cpf"
                                                    [(ngModel)]="user.tipo_pessoa" (onClick)="tipoDocumento()">
                                                </p-radioButton>
                                                <p-radioButton name="groupname" label="Juridica" value="cnpj"
                                                    [(ngModel)]="user.tipo_pessoa" (onClick)="tipoDocumento()">
                                                </p-radioButton>
                                            </div>
                                        </div>
                                        <div class="p-col-6 p-lg-4 p-fluid">
                                            <div class="p-field">
                                                <label>{{user.tipo_pessoa =='cnpj'? 'CNPJ' : 'CPF' }}</label>
                                                <p-inputMask [mask]="maskDoc" name="doc" [(ngModel)]="user.documento"
                                                    #doc="ngModel" (onComplete)="validaDoc()"
                                                    class="ng-required ng-dirty" [required]="fieldObr">
                                                </p-inputMask>
                                                <small class="p-error" *ngIf="doc.hasError('required') && doc.dirty">
                                                    *Campo obrigatório</small>
                                            </div>
                                        </div>
                                        <div class="p-col-6 p-lg-4 p-fluid" *ngIf="user.tipo_pessoa == 'cpf'">
                                            <div class="p-field">
                                                <label>Gênero</label>
                                                <p-dropdown [options]="genero" [(ngModel)]="user.genero"
                                                    optionLabel="name" optionValue="code" name="genero"
                                                    placeholder="Selecione..." class="ng-required ng-dirty" required>
                                                </p-dropdown>
                                            </div>
                                        </div>
                                        <div class="p-col-6 p-lg-4 p-fluid" *ngIf="user.tipo_pessoa == 'cnpj'">
                                            <div class="p-field">
                                                <label>Inscricao Estadual</label>
                                                <input pInputText type="text" name="inscEstadual"
                                                    [(ngModel)]="user.inscEstadual" #inscEstadual="ngModel"
                                                    class="ng-required ng-dirty" [required]="user.estrangeiro" />
                                                <small class="p-error"
                                                    *ngIf="inscEstadual.hasError('required') && inscEstadual.dirty">
                                                    *Campo obrigatório</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="estrangeiro" *ngIf="user.estrangeiro">
                                        <div class="p-grid">
                                            <div class="p-col-12 p-lg-4 p-fluid">
                                                <div class="p-field">
                                                    <label>RG/Passaporte</label>
                                                    <input pInputText type="text" name="user_pic_id"
                                                        [(ngModel)]="user.rg_pass" #user_pic_id="ngModel"
                                                        class="ng-required ng-dirty" [required]="user.estrangeiro" />
                                                    <small class="p-error"
                                                        *ngIf="user_pic_id.hasError('required') && user_pic_id.dirty">
                                                        *Campo obrigatório</small>
                                                </div>
                                            </div>
                                            <div class="p-col-6 p-lg-4 p-fluid">
                                                <div class="p-field">
                                                    <label>Órgão Expedidor</label>
                                                    <input pInputText type="text" name="user_id_doc"
                                                        [(ngModel)]="user.orgao_rg_pass" #user_id_doc="ngModel"
                                                        class="ng-required ng-dirty" [required]="user.estrangeiro" />
                                                    <small class="p-error"
                                                        *ngIf="user_id_doc.hasError('required') && user_id_doc.dirty">
                                                        *Campo obrigatório</small>
                                                </div>
                                            </div>
                                            <div class="p-col-6 p-lg-4 p-fluid">
                                                <div class="p-field">
                                                    <label>UF/País Emissor Passaporte</label>
                                                    <input pInputText type="text" name="user_id_state"
                                                        [(ngModel)]="user.uf_rg_pass" #user_id_state="ngModel"
                                                        class="ng-required ng-dirty" [required]="user.estrangeiro" />
                                                    <small class="p-error"
                                                        *ngIf="user_id_state.hasError('required') && user_id_state.dirty">
                                                        *Campo obrigatório</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-grid">
                                        <div class="p-col-6 p-lg-3 p-fluid">
                                            <div class="p-field">
                                                <label>Data de Nascimento</label>
                                                <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true"
                                                    [yearNavigator]="true" yearRange="1888:2050" name="dtNasc"
                                                    [(ngModel)]="user.data_nascimento" #dtNasc="ngModel"
                                                    class="ng-required ng-dirty" required>
                                                </p-calendar>
                                                <small class="p-error"
                                                    *ngIf="dtNasc.hasError('required') && dtNasc.dirty">
                                                    *Campo obrigatório</small>
                                            </div>
                                        </div>
                                        <div class="p-col-6 p-lg-3 p-fluid">
                                            <div class="p-field">
                                                <label>Telefone</label>
                                                <p-inputMask mask="(99)99999-9999" name="fone" [(ngModel)]="user.fone"
                                                    #fone="ngModel">
                                                </p-inputMask>
                                            </div>
                                        </div>
                                        <div class="p-col-6 p-lg-3 p-fluid">
                                            <div class="p-field">
                                                <label>Celular</label>
                                                <p-inputMask mask="(99)99999-9999" name="celular"
                                                    [(ngModel)]="user.celular" #celular="ngModel"
                                                    class="ng-required ng-dirty" required></p-inputMask>
                                                <small class="p-error"
                                                    *ngIf="celular.hasError('required') && celular.dirty">
                                                    *Campo obrigatório</small>
                                            </div>
                                        </div>
                                        <div class="p-col-6 p-lg-3 p-fluid">
                                            <div class="p-field">
                                                <label>WhatsApp</label>
                                                <p-inputMask mask="(99)99999-9999" name="user_whats"
                                                    [(ngModel)]="user.whatsapp" #user_whats="ngModel">
                                                </p-inputMask>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="endereco">
                                        <div class="p-grid">
                                            <div class="p-col-8 p-lg-3 p-fluid">
                                                <div class="p-field">
                                                    <label>CEP</label>
                                                    <p-inputMask mask="99999-999" name="cep" [(ngModel)]="endereco.cep"
                                                        #cep="ngModel">
                                                    </p-inputMask>
                                                </div>
                                            </div>
                                            <div class="p-col-3 p-lg-1 p-fluid">
                                                <div class="p-field" style="margin-top: 20.5pt;">
                                                    <button class="button" pButton type="button" icon="pi pi-search"
                                                        iconPos="left" (click)="buscaCep()"></button>
                                                </div>
                                            </div>
                                            <div class="p-col-6 p-lg-3 p-fluid">
                                                <div class="p-field">
                                                    <label>UF</label>
                                                    <p-dropdown [options]="uf" name="uf" [(ngModel)]="endereco.uf"
                                                        [filter]="true" [showClear]="true" optionLabel="name"
                                                        optionValue="code" placeholder="Selecione..."
                                                        (onChange)="mudouUF()">
                                                    </p-dropdown>
                                                </div>
                                            </div>
                                            <div class="p-col-7 p-lg-5 p-fluid">
                                                <div class="p-field">
                                                    <label>Cidade</label>
                                                    <p-dropdown [options]="cidades" name="cidade"
                                                        [(ngModel)]="endereco.localidade" optionLabel="name"
                                                        optionValue="code" [filter]="true" filterBy="name"
                                                        [showClear]="true" placeholder="Selecione..."
                                                        [disabled]="!endereco.uf">
                                                    </p-dropdown>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-grid">
                                            <div class="p-col-12 p-lg-6 p-fluid">
                                                <div class="p-field">
                                                    <label>Logradouro</label>
                                                    <input pInputText type="text" name="logradouro"
                                                        [(ngModel)]="endereco.logradouro" #logradouro="ngModel" />
                                                </div>
                                            </div>
                                            <div class="p-col-6 p-lg-4 p-fluid">
                                                <div class="p-field">
                                                    <label>Bairro</label>
                                                    <input pInputText type="text" name="bairro"
                                                        [(ngModel)]="endereco.bairro" #bairro="ngModel" />
                                                </div>
                                            </div>
                                            <div class="p-col-6 p-lg-2 p-fluid">
                                                <div class="p-field">
                                                    <label>Numero</label>
                                                    <input pInputText type="number" name="numero"
                                                        [(ngModel)]="endereco.numero" #numero="ngModel" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-grid">
                                            <div class="p-col-12 p-lg-12 p-fluid">
                                                <div class="p-field">
                                                    <label>Complemento</label>
                                                    <input pInputText type="text" name="complemento"
                                                        [(ngModel)]="endereco.complemento" #complemento="ngModel" />
                                                </div>
                                            </div>
                                            <div class="p-col-12">
                                                <label>Foto Perfil</label>
                                                <p-fileUpload [customUpload]="true" [auto]="true" mode="basic"
                                                    name="ftPerfil"
                                                    (uploadHandler)="uploadHandlerPerfil($event, uploadPerfil)"
                                                    chooseLabel="adicionar" accept="image/*" maxFileSize="1000000"
                                                    #uploadPerfil>
                                                </p-fileUpload>
                                                <div *ngIf="user.ftPerfil" id="imgPerfil">
                                                    <img [src]="user.ftPerfil" style="max-width: 9vh;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="p-grid">
                                        <div class="p-col-6 p-lg-6 p-fluid">
                                            <button pButton type="button" label="Sou Artista" icon="fas fa-palette"
                                                iconPos="left" class="p-button-text p-button-text"
                                                (click)="carregarArtista()"></button>
                                        </div>
                                        <div class="p-col-6 p-lg-6 p-fluid">
                                            <button pButton type="button" label="Sou Produtor" icon="fas fa-user-tie"
                                                iconPos="left" class="p-button-text p-button-text"
                                                (click)="carregarProdutor"></button>
                                        </div>
                                        <!-- [disabled]="formEspacoCad.invalid" -->
                                        <!-- <button pButton class="p-button-danger" style="margin-left: 5pt;" label="cancelar"></button> -->
                                    </div>
                                </div>
                            </div>
                        </form>
                    </p-tabPanel>
                    <p-tabPanel header="Meus Espaços">
                        <div class="p-grid">
                            <div class="p-col-11 p-lg-11 p-fluid">
                                <h3>Meus Espaços</h3>
                            </div>
                            <div class="p-col-1 p-lg-1" style="margin-top: 0.5rem;">
                                <button pButton pRipple type="button" icon="pi pi-plus"
                                    class="p-button-rounded p-button-text" (click)="novoCad('espaco')"
                                    style="color: #289ea0;"></button>
                            </div>
                        </div>
                        <div class="p-grid" *ngIf="this.tabIndex == 1">
                            <p-table [value]="espacoRel">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>ID</th>
                                        <th>Razão Social</th>
                                        <th>Nome</th>
                                        <th style="width: 20%;">Acão</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-espc>
                                    <tr>
                                        <td>{{espc.id_espaco}}</td>
                                        <td>{{espc.razao}}</td>
                                        <td>{{espc.nome}}</td>
                                        <td style="width: 20%;">
                                            <button pButton type="button" icon="pi pi-pencil"
                                                (click)="editarCad('espaco', espc.id_espaco)" pTooltip="Editar Espaço"
                                                life="3000" [disabled]="espc.nivel != '1'"></button>
                                            <button pButton type="button" icon="pi pi-users"
                                                (click)="displayRelEspaco = true; espacoTmp = espc.id"
                                                pTooltip="Relacionar Usuário" life="3000"
                                                [disabled]="espc.nivel != '1'"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Meus Artistas">
                        <div class="p-grid">
                            <div class="p-col-11 p-lg-11 p-fluid">
                                <h3>Artistas</h3>
                            </div>
                            <div class="p-col-1 p-lg-1">
                                <button pButton pRipple type="button" icon="pi pi-plus"
                                    class="p-button-rounded p-button-text" (click)="novoCad('artista')"
                                    style="color: #289ea0;"></button>
                            </div>
                        </div>
                        <div class="p-grid" *ngIf="this.tabIndex == 2">

                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Meus Produtores">
                        <div class="p-grid">
                            <div class="p-col-11 p-lg-11 p-fluid">
                                <h3>Produtores</h3>
                            </div>
                            <div class="p-col-1 p-lg-1">
                                <button pButton pRipple type="button" icon="pi pi-plus"
                                    class="p-button-rounded p-button-text" (click)="novoCad('produtor')"
                                    style="color: #289ea0;"></button>
                            </div>
                        </div>
                        <div class="p-grid" *ngIf="this.tabIndex == 3">

                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Meus Eventos">
                        <div class="p-grid">
                            <div class="p-col-11 p-lg-11 p-fluid">
                                <h3>Meus Eventos</h3>
                            </div>
                            <div class="p-col-1 p-lg-1">
                                <button pButton pRipple type="button" icon="pi pi-plus"
                                    class="p-button-rounded p-button-text" (click)="novoCad('evento')"
                                    style="color: #289ea0;" pTooltip="Novo Evento" life="3000"></button>
                            </div>
                        </div>
                        <div class="p-grid" *ngIf="this.tabIndex == 4">
                            <p-table [value]="eventosUser">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>ID</th>
                                        <th>Image</th>
                                        <th>Titulo</th>
                                        <th>Data</th>
                                        <th>Espaco</th>
                                        <th>Produtor</th>
                                        <th style="width: 10%;">Acão</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-evt>
                                    <tr>
                                        <td>{{evt.id}}</td>
                                        <td>
                                            <img [src]="evt.imagem_perfil" [alt]="evt.nome" width="100"
                                                *ngIf="evt.imagem_perfil != ''" />
                                        </td>
                                        <td>{{evt.nome}}</td>
                                        <td>{{evt.data | date:'dd/MM/yyyy'}}</td>
                                        <td>{{evt.espaco.nome}}</td>
                                        <td>{{evt.produtor.nome}}</td>
                                        <td style="width: 10%;">
                                            <button pButton type="button" icon="pi pi-pencil"
                                                (click)="editarCad('evento', evt.id)" pTooltip="Editar Evento"
                                                life="3000"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Solicitaçôes">
                        <div class="p-grid">
                            <div class="p-col-11 p-lg-11 p-fluid">
                                <h3>Solicitaçôes</h3>
                            </div>
                            <div class="p-col-1 p-lg-1">
                                <button pButton pRipple type="button" icon="pi pi-plus"
                                    class="p-button-rounded p-button-text" (click)="novoCad('produtor')"
                                    style="color: #289ea0;"></button>
                            </div>
                        </div>
                        <div class="p-grid" *ngIf="this.tabIndex == 5">
                            <div class="p-col-11 p-lg-11 p-fluid" *ngFor="let sol of solicitacoes">
                                <p-card>
                                    <p>Você recebeu uma solicitacoes</p>
                                    <ng-template pTemplate="footer">
                                        <div class="p-grid">
                                            <div class="p-col-6">
                                                <p-button label="Aceitar" icon="pi pi-check"></p-button>
                                            </div>
                                            <div class="p-col-6">
                                                <p-button label="Recusar" icon="pi pi-times"
                                                    styleClass="p-button-secondary">
                                                </p-button>
                                            </div>
                                        </div>
                                    </ng-template>
                                </p-card>
                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
</div>

<p-toast></p-toast>
<!-- Dados de Artista -->
<!-- Dados de Artista -->
<p-dialog [(visible)]="displayArtista" [modal]="true" [style]="{width: '80vw'}" [maximizable]="true" [draggable]="false"
    [resizable]="false">
    <ng-template pTemplate="body">
        <div class="p-grid">
            <div class="p-col-12 p-fluid">
                <label>Breve descrição</label>
                <textarea pInputTextarea name="descricao" [(ngModel)]="artista.descricao" #descricao="ngModel"
                    class="ng-required ng-dirty" maxlength="200" required></textarea>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-sm-12 p-md-4 p-fluid">
                <label>Instagram</label>
                <input pInputText type="text" name="instagram" [(ngModel)]="artista.instagram" #instagram="ngModel" />
            </div>
            <div class="p-sm-12 p-md-4 p-fluid">
                <label>Facebook</label>
                <input pInputText type="text" name="facebook" [(ngModel)]="artista.facebook" #facebook="ngModel" />
            </div>
            <div class="p-sm-12 p-md-4 p-fluid">
                <label>Twitter</label>
                <input pInputText type="text" name="twitter" [(ngModel)]="artista.twitter" #twitter="ngModel" />
            </div>
            <div class="p-sm-12 p-md-4 p-fluid">
                <label>Site</label>
                <input pInputText type="text" name="site" [(ngModel)]="artista.site" #site="ngModel" />
            </div>
            <div class="p-sm-12 p-md-4 p-fluid">
                <label>Spotify</label>
                <input pInputText type="text" name="spotify" [(ngModel)]="artista.spotify" #spotify="ngModel" />
            </div>
            <div class="p-sm-12 p-md-4 p-fluid">
                <label>Amazon Music</label>
                <input pInputText type="text" name="amzMusic" [(ngModel)]="artista.amzMusic" #amzMusic="ngModel" />
            </div>
            <div class="p-sm-12 p-md-4 p-fluid">
                <label>Apple Music</label>
                <input pInputText type="text" name="apple" [(ngModel)]="artista.apple" #apple="ngModel" />
            </div>
            <div class="p-sm-12 p-md-4 p-fluid">
                <label>Deezer</label>
                <input pInputText type="text" name="deezer" [(ngModel)]="artista.deezer" #deezer="ngModel" />
            </div>
            <div class="p-sm-12 p-md-4 p-fluid">
                <label>Soundcloud</label>
                <input pInputText type="text" name="soundcloud" [(ngModel)]="artista.soundcloud"
                    #soundcloud="ngModel" />
            </div>
        </div>
        <div class="p-grid">
            <div class="p-sm-12 p-md-6 p-fluid">
                <label>Gênero Musical</label>
                <p-dropdown [options]="generoArte" [(ngModel)]="artista.genero" optionLabel="name" optionValue="code"
                    name="genero" placeholder="Selecione" class="ng-required ng-dirty" appendTo="body" required>
                </p-dropdown>
            </div>
            <div class="p-sm-12 p-md-6 p-fluid">
                <label>Tipo</label>
                <p-dropdown [options]="tpArte" [(ngModel)]="artista.tipo" optionLabel="name" optionValue="code"
                    name="tpArte" placeholder="Selecione" class="ng-required ng-dirty" appendTo="body" required>
                </p-dropdown>
            </div>
        </div>
        <div class="p-col-12">
            <label>Fotos</label>
            <p-fileUpload [customUpload]="true" accept="image/*" multiple="multiple"
                (uploadHandler)="uploadHandlerImgs($event, uploadPerfil, 'a')" name="fotoArtista" maxFileSize="1000000"
                chooseLabel="Adicionar" cancelLabel="Cancelar" #foto>
            </p-fileUpload>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-save" (click)="gravarArtista()" label="Gravar" styleClass="p-button-text">
        </p-button>
    </ng-template>
</p-dialog>

<!-- Dados de Produtor -->
<p-dialog [(visible)]="displayProdutor" [modal]="true" [style]="{width: '80vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false">
    <ng-template pTemplate="body">
        <div class="p-grid">
            <div class="p-sm-12 p-md-4 p-fluid">
                <label>Instagram</label>
                <input pInputText type="text" name="instagram" [(ngModel)]="produtor.instagram" #instagram="ngModel" />
            </div>
            <div class="p-sm-12 p-md-4 p-fluid">
                <label>Facebook</label>
                <input pInputText type="text" name="facebook" [(ngModel)]="produtor.facebook" #facebook="ngModel" />
            </div>
            <div class="p-sm-12 p-md-4 p-fluid">
                <label>Twitter</label>
                <input pInputText type="text" name="twitter" [(ngModel)]="produtor.twitter" #twitter="ngModel" />
            </div>
            <div class="p-sm-12 p-fluid">
                <label>Site</label>
                <input pInputText type="text" name="site" [(ngModel)]="produtor.site" #site="ngModel" />
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-fluid">
                <label>Breve descrição</label>
                <textarea pInputTextarea name="descricao" [(ngModel)]="produtor.descricao" #descricao="ngModel"
                    class="ng-required ng-dirty" maxlength="200" required></textarea>
            </div>
        </div>
        <div class="p-col-12">
            <label>Fotos de Produções</label>
            <p-fileUpload [customUpload]="true" accept="image/*" multiple="multiple"
                (uploadHandler)="uploadHandlerImgs($event, uploadPerfil, 'p')" name="fotoProdutor" maxFileSize="1000000"
                chooseLabel="Adicionar" cancelLabel="Cancelar" #fotoProducoes>
            </p-fileUpload>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-save" (click)="gravarProdutor()" label="Gravar" styleClass="p-button-text">
        </p-button>
    </ng-template>
</p-dialog>

<!-- relacionar usuarios ao espaco -->
<p-dialog header="{{ 'Relacionar Usuários' }}" [(visible)]="displayRelEspaco" [modal]="true" [maximizable]="true"
    [draggable]="false" [resizable]="false" [style]="{width: '80vw'}">
    <ng-template pTemplate="body">
        <div class="p-grid">
            <div class="p-col-8 p-fluid">
                <label>Usuários</label>
                <p-autoComplete name="users" [suggestions]="usuariosCad" [(ngModel)]="userSelTmp" [dropdown]="true"
                    (completeMethod)="carregarUsuarios($event)" field="nome" appendTo="body">
                </p-autoComplete>
            </div>
            <div class="p-col-4 p-fluid">
                <label>Permissão</label>
                <div class="field-radiobutton">
                    <p-radioButton name="tpPerm" value="1" [(ngModel)]="tpPermTmp" inputId="tp1"></p-radioButton>
                    <label for="tp1">Gerenciar</label>
                </div>
                <div class="field-radiobutton">
                    <p-radioButton name="tpPerm" value="0" [(ngModel)]="tpPermTmp" inputId="tp2"></p-radioButton>
                    <label for="tp2">Visualizar</label>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton type="button" icon="fa fa-check" iconPos="left" label="Gravar"
            (click)="relUserEspaco()"></button>
        <button pButton type="button" icon="pi pi-times-circle" label="Cancelar" (click)="displayRelEspaco = false"
            pTooltip="Relacionar Usuário" life="3000"></button>
    </ng-template>
</p-dialog>