
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$lerigo-primary: mat.define-palette(mat.$indigo-palette);
$lerigo-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$lerigo-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$lerigo-theme: mat.define-light-theme((
  color: (
    primary: $lerigo-primary,
    accent: $lerigo-accent,
    warn: $lerigo-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($lerigo-theme);

/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Staatliches&display=swap");
@media (min-width: 1170px) {
    .container {
        margin-top: 10%;
        width: 1170px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 991px) {
    .mic {
        display: none;
    }
}

.button {
    background: #289ea0 !important;
}

.button2 {
    color: #289ea0 !important;
}
.p-selectbutton .p-button.p-highlight {
    background: #289ea0;
    border-color: #289ea0;
    color: #ffffff;
}

.p-selectbutton .p-button.p-highlight:hover.p-highlight {
    background: #289ea0;
    border-color: #289ea0;
    color: #ffffff;
}
h1,
h2,
h3 {
    font-family: "Staatliches", cursive;
}

* {
    font-family: "Roboto Condensed", cursive;
}

.top {
    height: 8pt;
    width: 50pt;
    margin-bottom: -10pt;
    background-color: #289ea0;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
